html {
    font-size: 62.5%;    
}

body {
    display: grid;
    grid-template-areas: "header header header header"
                         "hero hero hero hero"
                         "about about about about"
                         "services services services services"
                         "projects projects projects projects"
                         "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.header {
    background-color: rgb(44, 42, 42);
    grid-area: header;
}

.header .header-container {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header h1 {
    color: #fff;
    font-size: 5.5rem;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    transition: 0.3s;
}

.hero {
    grid-area: hero;
    height: 89vh;
    background: url('../images/home.png') center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero  h2 {
    color:#fff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 5rem;
}

.hero .btn-pedidos button{
    font-size: 2.5rem;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 15px;
}

.hero .btn-pedidos .whatsapp {
    background-color: #34af23;
}

.hero .btn-pedidos .whatsapp a{
    color: #fff;
}

.hero .btn-pedidos .ifood {
    background-color: #D9293A;
}

.hero .btn-pedidos .ifood a{
    color: #fff;
}

@media (max-width: 425px){
    .header .logo {
        font-size: 3rem;
        font-weight: 400;
    }

    .hero {
        height: 60vh;
    }

    .hero h2 {
        margin-left: 10px;
        font-size: 5rem;
    }

    .hero .btn-pedidos button{
        font-size: 1.5rem;
        padding: 10px 20px;
        border-radius: 50px;
        margin: 5px;
    }
}