html {
    font-size: 62.5%;    
}

body {
    display: grid;
    grid-template-areas: "header header header header"
                         "hero hero hero hero"
                         "sobre sobre sobre sobre"
                         "cardapio cardapio cardapio cardapio"
                         "contatos contatos contatos contatos"
                         "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.header {
    background-color: rgb(44, 42, 42);
    grid-area: header;
}

.header .header-container {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header h1 {
    color: #fff;
    font-size: 5.5rem;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    transition: 0.3s;
}

.hero {
    grid-area: hero;
    height: 89vh;
    background: url('../images/home.png') center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero  h2 {
    color:#fff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 5rem;
}

.hero .btn-pedidos button{
    font-size: 2.5rem;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 15px;
}

.hero .btn-pedidos .whatsapp {
    background-color: #34af23;
}

.hero .btn-pedidos .whatsapp a{
    color: #fff;
}

.hero .btn-pedidos .ifood {
    background-color: #D9293A;
}

.hero .btn-pedidos .ifood a{
    color: #fff;
}

@media (max-width: 425px){
    .header .logo {
        font-size: 3rem;
        font-weight: 400;
    }

    .hero {
        height: 60vh;
    }

    .hero h2 {
        margin-left: 10px;
        font-size: 5rem;
    }

    .hero .btn-pedidos button{
        font-size: 1.5rem;
        padding: 10px 20px;
        border-radius: 50px;
        margin: 5px;
    }
}

.sobre {
    grid-area: sobre;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #660000;
    max-width:  var(--max-width-size);
    margin: 0 auto;
}

.sobre .item {
    padding: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.sobre .item h3 {
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
}

.sobre .item p {
    font-size: 1.8rem;
    margin: 30px 0;
    font-weight: 100;
    color: #fff;
}

.sobre .image {
    height: 100%;
    width: 100%;
}

.sobre .image.right {
    background: url('../images/foto-perfil.png') center center no-repeat;
    background-size: cover;
}

.sobre .image.left {
    background: url('../images/comida_1.png') center center no-repeat;
    background-size: cover;
}

@media (max-width: 425px) {
    .sobre .item {
        text-align: center;
    }

    .sobre {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

.cardapios {
    grid-area: cardapio;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.cardapios .cardapio {
    padding: 70px 20px;
}

.cardapios .cardapio img {
    width: 280px;
    margin-bottom: 30px;
    border-radius: 50%;
}

.cardapios .cardapio h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

.cardapios .cardapio ul li{
    font-size: 2.3rem;
    font-weight: 300;
    max-width: 600px;
    margin: 20px auto 0;
    line-height: 25px;
}

.cardapios .cardapio:nth-child(1){
    background-color: #f3bea1;
}

.cardapios .cardapio:nth-child(2) {
    background-color: #f3f0e7;
}

@media (max-width: 425px) {
    .cardapios {
        grid-template-columns: 1fr;
    }

    .cardapios .cardapio img {
        width: 200px;
    }

    .cardapios .cardapio h3 {
        font-size: 2.5rem;
    }
    
    .cardapios .cardapio ul li{
        font-size: 2rem;
        font-weight: 300;
        line-height: 20px;
    }

    .cardapios .cardapio {
        padding: 50px 20px;
    }
}

.contatos {
    grid-area: contatos;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.contatos img {
    height: 100%;
    transition: 0.3s;
}

.contatos a:hover img {
    opacity: 0.8;
}

@media (max-width: 768px){
    .contatos {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 425px) {
    .contatos {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

.footer {
    grid-area: footer;
    display: flex;
    background-color: #660000;
    flex-direction: column;
    text-align: center;
    padding: 100px 0;
}

.footer h3 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
    color: #fff;
}

.footer nav {
    margin: 50px 0;
}

.footer nav ul {
    display: flex;
    justify-content: center;
    max-width: 320px;
    margin: 0 auto;
}

.footer nav ul li a {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0 20px;
    transition: 0.3s;
    color: rgb(241, 241, 131);
}

.footer nav ul li a:hover {
    font-weight: 500;
    color: #fff;
}

.footer .social a i {
    font-size: 2.8rem;
    margin: 0 10px;
    color: rgb(241, 241, 131);
    transition: 0.3s ease;
}

.footer .social a i:hover {
    font-weight: 500;
    color: #fff;
}